<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="OAuth2ProvidersConfigurationSection" type="OAuthConsole.Configuration.OAuth2ProvidersConfigurationSection, OAuthConsole"/>
    <section name="OAuth2ActionsConfigurationSection" type="OAuthConsole.Configuration.OAuth2ActionsConfigurationSection, OAuthConsole"/>
  </configSections>

  <OAuth2ProvidersConfigurationSection>
    <OAuth2Providers>
      
      <OAuth2Provider Name="" AuthorizationEndpoint="" TokenEndpoint="">
        <OAuth2Clients>
          <add ClientId="" ClientSecret="" Scopes="" RedirectURI="" ResourceEndpoint="" />
        </OAuth2Clients>
      </OAuth2Provider>
      
      <OAuth2Provider Name="Microsoft" AuthorizationEndpoint="https://login.live.com/oauth20_authorize.srf" TokenEndpoint="https://login.live.com/oauth20_token.srf">
        <OAuth2Clients>
          <add ClientId="" ClientSecret="" Scopes="" RedirectURI="" ResourceEndpoint="https://apis.live.net/v5.0/me" />
        </OAuth2Clients>
      </OAuth2Provider>
      
      <OAuth2Provider Name="Google" AuthorizationEndpoint="https://accounts.google.com/o/oauth2/auth" TokenEndpoint="https://accounts.google.com/o/oauth2/token">
        <OAuth2Clients>
          <add ClientId="897385588128-nml2jmhovp8pu770urd5ld3vm0eb3180.apps.googleusercontent.com" ClientSecret="HHPVLjHPdoJT824oPdEK39m8" Scopes="https://www.googleapis.com/auth/userinfo.email" RedirectURI="http://localhost/" ResourceEndpoint="https://www.googleapis.com/oauth2/v2/userinfo"/>
        </OAuth2Clients>
      </OAuth2Provider>
      
      <OAuth2Provider Name="Facebook" AuthorizationEndpoint="https://www.facebook.com/dialog/oauth" TokenEndpoint="https://graph.facebook.com/oauth/access_token">
        <OAuth2Clients>
          <add ClientId="" ClientSecret="" Scopes="" RedirectURI="" ResourceEndpoint="https://graph.facebook.com/me" />
        </OAuth2Clients>
      </OAuth2Provider>
      
    </OAuth2Providers>
  </OAuth2ProvidersConfigurationSection>

  <OAuth2ActionsConfigurationSection>
    <OAuth2Actions>

      <OAuth2Action Name="OAUTH2 - Authorize" Method="GET" Endpoint="Authorize">
        <OAuth2ActionParameters>
          <add Name="client_id" Value="" />
          <add Name="response_type" Value="code" />
          <add Name="redirect_uri" Value="" />
          <add Name="scope" Value="" />
        </OAuth2ActionParameters>
      </OAuth2Action>

      <OAuth2Action Name="OAUTH2 - Authorize (JS)" Method="GET" Endpoint="Authorize">
        <OAuth2ActionParameters>
          <add Name="client_id" Value="" />
          <add Name="response_type" Value="token" />
          <add Name="redirect_uri" Value="" />
          <add Name="scope" Value="" />
        </OAuth2ActionParameters>
      </OAuth2Action>

      <OAuth2Action Name="OAUTH2 - Token" Method="POST" Endpoint="Token">
        <OAuth2ActionParameters>
          <add Name="grant_type" Value="authorization_code" />
          <add Name="code" Value="" />
          <add Name="client_id" Value="" />
          <add Name="client_secret" Value="" />
          <add Name="redirect_uri" Value="" />
        </OAuth2ActionParameters>
      </OAuth2Action>

      <OAuth2Action Name="OAUTH2 - Token (UserCredentials)" Method="POST" Endpoint="Token">
        <OAuth2ActionParameters>
          <add Name="grant_type" Value="password" />
          <add Name="username" Value="hrprof@cezannesw.com" />
          <add Name="password" Value="frutt1d1mare" />
          <add Name="client_id" Value="" />
          <add Name="client_secret" Value="" />
          <add Name="scope" Value="" />
        </OAuth2ActionParameters>
      </OAuth2Action>

      <OAuth2Action Name="OAUTH2 - Token (ClientCredentials)" Method="POST" Endpoint="Token">
        <OAuth2ActionParameters>          
          <add Name="grant_type" Value="client_credentials" />          
          <add Name="scope" Value="" />
          <add Name="Authorization" Value="Basic " AsHeader="true" />
        </OAuth2ActionParameters>
      </OAuth2Action>

      <OAuth2Action Name="OAUTH2 - RefreshToken" Method="POST" Endpoint="Token">
        <OAuth2ActionParameters>
          <add Name="grant_type" Value="refresh_token" />
          <add Name="refresh_token" Value="" />
          <add Name="client_id" Value="" />
          <add Name="client_secret" Value="" />
        </OAuth2ActionParameters>
      </OAuth2Action>

      <OAuth2Action Name="Resource" Method="GET" Endpoint="Resource">
        <OAuth2ActionParameters>
          <add Name="Authorization" Value="Bearer " AsHeader="true" />
        </OAuth2ActionParameters>
      </OAuth2Action>

    </OAuth2Actions>
  </OAuth2ActionsConfigurationSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>